<html>

<head>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = device-width, initial-scale = 0, user-scalable = no, minimum-scale = 1, maximum-scale = 1">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <!--link rel="stylesheet" type="text/css" href="../css/screen.css"-->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">


</head>

<div class="user"></div>
    <div class="user1"></div>

   </body>

<script id="restTemplate" type="text/x-jsrender">
    <div>y</div>
</script>

<script id="rest1Template" type="text/x-jsrender">
    <div>yy</div>
</script>
<script src="../scripts/bootstrap.min.js"></script>

<script src="../scripts/jquery.js"></script>
 <script src="../scripts/jquery.js "></script>
    <script src="../scripts/jsrender.js "></script>
    <script src="../scripts/jsview.js "></script>
    <script src="../js/base.js "></script>
    <script src="../js/index1.js "></script>
<script src="../scripts/highcharts.js"></script>
<script src="../scripts/jquery.tmpl.min.js"></script>
<script src="../scripts/jslinq.js"></script>
<script src="../scripts/moment.min.js"></script>
<script src="../scripts/superjson.js"></script>
<script src="../scripts/tocca.min.js"></script>
<script src="../scripts/transit.js"></script>
<script src="../js/base.js"></script>
<script src="../js/index.js"></script>  
